.popup__input-error {
  display: inline-block;
  color: red;
  border: none;
  min-height: 29px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
}
