.form__save-button {
  margin: 0 22px 25px;
  width: calc(100% - 44px);
  height: 46px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #000;
  border: none;
  color: #FFF;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

@media screen and (min-width: 880px) {
  .form__save-button {
    font-size: 18px;
  }
}
