.form__title {
  margin: auto;
  padding: 25px 0 75px;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.2;
  width: 238px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

@media screen and (min-width: 880px) {
  .form__title {
    width: 330px;
    font-size: 24px;
  }
}
