.popup__close-button {
  position: absolute;
  top: -33px;
  right: 0;
  background-color: #FFFFFF;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background: url(../../../images/popup__close-icon/close_icon.svg) no-repeat center;
  background-size: 26px 26px;
  border:none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 880px) {
  .popup__close-button {
    top: -50px;
    left: 440px;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    right: -35px;
  }
}
